.container {
    width: 1144px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.page-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.page-panel li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.page-panel .rc-pagination-item-active {
    background-color: dodgerblue;
    color: #ffffff;
}

.page-panel .rc-pagination-options {
    display: none;
}