.container {
    width: 1144px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.page-panel {
    display: flex;
    justify-content: space-between;
}