.container {
    width: 1144px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.news-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    /*min-height: 200px;*/
}
