.post {
    background-color: #fff;
}

.post__header {
    padding-bottom: 0;
}

.post__title {
    font-size: 20px;
}

.post__image {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.post__footer {
    padding: 15px 0;
    border-top: 1px solid grey;
}

.post__footer img {
    width: 20px;
}

.post__statistic {
    display: flex;
    gap: 5px;
    font-weight: bold;
}

